body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
}

h1.primary-text {
    font-family: 'Pacifico', cursive;
    font-size: 64px;
    color: white;
}

h2.secondary-text {
    font-family: 'Bitter', serif;
    font-size: 38px;
    color: rgba(255, 255, 255, 0.8);
}

main.container-main {
    background: linear-gradient(
        240deg,
        #3a0303,
        #cc8484);
}

header.container-header {
    width: 100vw;
    height: 100vh;
    margin-left: -1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    max-width: 62vw;
    max-height: 23vh;
    width: auto;
    height: auto;
    border-radius: 240px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 1); 
}

.display-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hold-info {
    margin-top: 15vh;
    margin-bottom: 40vh;
}

.presentation{
    margin-top: 3vh;
}

.icons-link {
    margin-top: 2vh;
    margin-bottom: 15vh;
    display: flex;
    column-gap: 16px;
}

.icons{
    
}

section.container-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

article.display-flex-row {
    display: flex;
    align-items:center;
}

div.info-especial {
    margin: 0 36px;
}

ul.lista {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
    list-style-type: square;
}

ul.lista li{
    font-size: 25px;
    margin-bottom: 5px;
}

.food{
    max-width: 30vw;
    max-height: 30vh;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-style: outset;
    border-color: rgba(255, 255, 255, 0.7);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5); 
}


div.holdAnimation {
    height: 100px;
    position: relative;
}

a.down {
    position: absolute;
    animation: MoveUpDown 4s ease-in-out infinite;
    transform: translate(-50%, 50%);
}

@keyframes MoveUpDown {
    0%, 100% {
      top: 0%;
    }
    50% {
      top: 40%;
    }
}

section.container-middle h1.primary-text {
    font-size: 48px;
}

section.container-map { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        240deg,
        #000000,
        #cc8484);
}

p.description-localizacao {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 24px;
    width: 350px;
    text-align: center;
}

div.info-localizacao  {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div.map {
    height: 60vh;
    width: 99vw;
    background-image: url(../assets/map.png);
    background-size: 150%;
    background-size: auto;
    background-position: center;
}

@media only screen and (max-width: 500px){
    h1.primary-text {
        font-size: 12vw;
    }

    h2.secondary-text {
        font-size: 7vw;
    }

    section.container-middle h1.primary-text {
        font-size: 10vw;
    }

    ul.lista li{
        font-size: 5vw;
    }

    p.description-localizacao {
        font-size: 3vw;
    }

}

@media only screen and (max-height: 800px){
    .icons-link {
        margin-bottom: 5vh;
    }
}

@media only screen and (max-height: 580px){
    .icons-link {
        margin-bottom: 0vh;
    }
}


